div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, button, .colour-code {
    background-color: rgba(255, 255, 255, .5);
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center; 
    text-align: center; 
    padding: .5em;
}
h1 {
    font-size: 4em;
}
button {
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    font-size: 2em;
}

.body-colour {
    /*default colour*/
    background-color: rgb(0,0,0);
}
.colour-code {
    font-size: 2em;
}